<div class="cover-wrap">
	<div class="cover tag-cover align-center {{#if tag.feature_image}}has-image" style="background-image: url({{tag.feature_image}});"{{else}}no-image"{{/if}}>
		<div class="overlay">
				<h3 class="tag-title">Tag: {{tag.name}}</h3>
				<div class="meta-info">
					<span>{{t "Total"}} {{plural pagination.total empty=(t '0 Post') singular=(t '1 Post') plural=(t '% Posts')}}</span>
				</div>
				{{#if tag.description}}
				<p class="description">{{tag.description}}</p>
				{{/if}}
		</div>
	</div>
</div>